{% extends 'base.html.twig' %}

{% block title %}New DetailsEstimation{% endblock %}

{% block body %}
    <h1>Create new DetailsEstimation</h1>

    {{ include('details_estimation/_form.html.twig') }}

    <a href="{{ path('details_estimation_index') }}">back to list</a>
{% endblock %}
