{% extends 'base.html.twig' %}

{% block title %}New FuturInvestisseur{% endblock %}

{% block body %}
    <h1>Create new FuturInvestisseur</h1>

    {{ include('futur_investisseur/_form.html.twig') }}

    <a href="{{ path('futur_investisseur_index') }}">back to list</a>
{% endblock %}
